<div class='row'>
  <div class='col-xs-12'>
    <h4>Добавление нового талона</h4>
    <p><%= @coupon.errors.inspect %></p>
    <p><%= @coupon.patient.errors.inspect if @coupon.patient %></p>
  </div>
  <%= simple_form_for [:eco, @coupon] do |f| %>
    <div class='col-xs-3'>
      <%= f.input :patient_code_id, :autofocus => true %>
    </div>
    <div class='col-xs-4'>
      <%= f.input :created_on, :start_year => Time.zone.now.year, :end_year => Time.zone.now.year - 10 %>
    </div>
    <div class='col-xs-12'>
      <%= f.submit 'Добавить', :class => 'btn btn-default' %>
      <%= link_to 'Отмена', eco_coupons_path %>
    </div>
  <% end %>
</div>
