<div class='row'>

  <div class='col-xs-12'>
    <h4>ЭКО купоны</h4>
  </div>

  <%= simple_form_for :coupons_search, :url => eco_coupons_path, :method => :get do |f| %>

    <div class='col-xs-10'>
      <%= f.input :search, :required => false, :label => false,
        :placeholder => 'Введите номер талона или код пациента',
        :input_html => { :name => :search, :value => params[:search] } %>
    </div>

    <div class='col-xs-2'>
      <%= f.submit 'Поиск', :class => 'btn btn-primary' %>
      <%= link_to 'Очистить', eco_coupons_path %>
    </div>
  <% end %>

  <div class='col-xs-12'>
    <hr />
  </div>

  <div class='col-xs-10'>
    <ul class='nav nav-tabs'>
      <li role='presentation'<%= " class='active'".html_safe if params[:search].blank? && params[:workflow_state].blank? %>>
        <%= link_to 'Все талоны', eco_coupons_path %>
      </li>
      <li role='presentation' class='dropdown<%= ' active' if %w[created issued approved].include?(params[:workflow_state]) %>'>
        <a class='dropdown-toggle' data-toggle='dropdown' href='#' role='button' aria-haspopup='true' aria-expanded='false'>Открытые талоны <span class='caret'></span></a>
        <ul class='dropdown-menu'>
          <% %w(created issued).each do |workflow_state| %>
            <li role='presentation'<%= " class='active'".html_safe if params[:search].blank? && params[:workflow_state] == workflow_state %>>
              <%= link_to I18n.t("coupon.#{workflow_state}"), eco_coupons_path(:workflow_state => workflow_state) %>
            </li>
          <% end %>
        </ul>
      </li>
      <li role='presentation'<%= " class='active'".html_safe if params[:search].blank? && params[:workflow_state] == 'closed' %>>
        <%= link_to 'Закрытые талоны', eco_coupons_path(:workflow_state => :closed) %>
      </li>
    </ul>
  </div>
  <div class='col-xs-2'>
    <%= link_to 'Добавить талон', new_eco_coupon_path, :class => 'btn btn-primary' %>
  </div>
</div>

<div class='row'>
  <div class='col-xs-12'>

    <table class='table table-hover'>
      <thead>
        <th>Номер талона</th>
        <th>Код пациента</th>
        <th>Дата выдачи</th>
        <th>Статус</th>
        <th>Дата последнего изменения</th>
      </thead>

      <tbody>
        <% @coupons.each do |coupon| %>
          <tr>
            <td><%= link_to coupon.number, eco_coupon_path(coupon) %></td>
            <td><%= link_to coupon.patient_code, eco_coupons_path(:search => coupon.patient_code) %></td>
            <td><%= I18n.l(coupon.created_on) %></td>
            <td><%= I18n.t("coupon.#{coupon.workflow_state}") %></td>
            <td><%= I18n.l(coupon.updated_at) %></td>
          </tr>
        <% end %>
      </tbody>
    </table>

    <%= paginate @coupons %>

  </div>
</div>
