<div class='row'>
  <div class='col-xs-12'>
    <p>Номер талона: <%= @coupon.number %></p>
    <p>Код пациента: <%= @coupon.patient_code %></p>
    <p>Дата выдачи: <%= I18n.l(@coupon.created_on) %></p>
    <p>Статус: <%= I18n.t("coupon.#{@coupon.state}") %></p>
    <p><%= link_to 'Назад', eco_coupons_path, :class => 'btn btn-default' %></p>
  </div>
</div>
