<div class='row'>
  <ol class="breadcrumb">
    <%= render_breadcrumbs :tag => :li, :separator => "" %>
  </ol>

  <div class='col-xs-6'>
    <h4>Просмотр талона №<%= @coupon.number %>, код пациента <%= @coupon.patient_code %></h4>

    <table class="table table-hover">
      <thead>
        <th>Дата</th>
        <th>Действие</th>
      </thead>
      <tbody>
        <tr>
          <td class='nobr'>
            <%= I18n.l(@coupon.created_on, :format => :long) %>
          </td>
          <td>
            талон выдан
            <% if @coupon.created? %>
              <%= link_to edit_eco_coupon_path(@coupon, :state => 'created') do %>
                <span class="glyphicon glyphicon-pencil" aria-hidden="true" title='Изменить код пациента'></span>
              <% end %>
            <% end %>
          </td>
        </tr>
        <% if @coupon.issued_on? %>
          <tr>
            <td><%= I18n.l(@coupon.issued_on, :format => :long) %></td>
            <td class='with_icons'>
              выдано направление в МУ &laquo;<%= @coupon.medical_institution_title %>&raquo;
              <% if @coupon.issued? %>
                <%= link_to edit_eco_coupon_path(@coupon, :state=> 'issued') do %>
                  <span class="glyphicon glyphicon-pencil" aria-hidden="true" title='Изменить направление в МУ'></span>
                <% end %>

                <%= link_to eco_coupon_revert_state_path(@coupon), :data => { :confirm => 'Вы уверены?' } do %>
                  <span class="glyphicon glyphicon-remove" aria-hidden="true" title='Удалить направление в МУ'></span>
                <% end %>
              <% end %>
            </td>
          </tr>
        <% end %>

        <% if @coupon.not_need_help_on? %>
          <tr>
            <td>
              <%= I18n.l(@coupon.not_need_help_on, :format => :long) %>
            </td>
            <td class='with_icons'>
              принято решение об отсутствии медицинских показаний для госпитализации в базовой программе ЭКО
              <% if @coupon.not_need_help? %>
                <%= link_to edit_eco_coupon_path(@coupon, :state=> 'not_need_help') do %>
                  <span class="glyphicon glyphicon-pencil" aria-hidden="true" title='Изменить информацию об отсутствии показаний'></span>
                <% end %>

                <%= link_to eco_coupon_revert_state_path(@coupon), :data => { :confirm => 'Вы уверены?' } do %>
                  <span class="glyphicon glyphicon-remove" aria-hidden="true" title='Удалить информацию об отсутствии показаний'></span>
                <% end %>
              <% end %>
            </td>
          </tr>
        <% end %>

        <% if @coupon.failure_patient_on? %>
          <tr>
            <td><%= I18n.l(@coupon.failure_patient_on, :format => :long) %></td>
            <td class='with_icons'>
              пациент отказался от оказания медицинской помощи
              <% if @coupon.failure_patient? %>
                <%= link_to edit_eco_coupon_path(@coupon, :state=> 'failure_patient') do %>
                  <span class="glyphicon glyphicon-pencil" aria-hidden="true" title='Изменить информацию об отказе пациента'></span>
                <% end %>

                <%= link_to eco_coupon_revert_state_path(@coupon), :data => { :confirm => 'Вы уверены?' } do %>
                  <span class="glyphicon glyphicon-remove" aria-hidden="true" title='Удалить информацию об отказе пациента'></span>
                <% end %>
              <% end %>
            </td>
          </tr>
        <% end %>

        <% if @coupon.help_provided_on? %>
          <tr>
            <td><%= I18n.l(@coupon.help_provided_on, :format => :long) %></td>
            <td class='with_icons'>
              помощь оказана
              <% if @coupon.help_provided? %>
                <%= link_to edit_eco_coupon_path(@coupon, :state=> 'help_provided') do %>
                  <span class="glyphicon glyphicon-pencil" aria-hidden="true" title='Изменить информацию об оказании помощи'></span>
                <% end %>

                <%= link_to eco_coupon_revert_state_path(@coupon), :data => { :confirm => 'Вы уверены?' } do %>
                  <span class="glyphicon glyphicon-remove" aria-hidden="true" title='Удалить информацию об оказании помощи'></span>
                <% end %>
              <% end %>
            </td>
          </tr>
        <% end %>

        <% if @coupon.closed_on? %>
          <tr>
            <td>
              <%= I18n.l(@coupon.closed_on, :format => :long) %>
            </td>
            <td class='with_icons'>
              талон закрыт
              <% if @coupon.closed? %>
                <%= link_to edit_eco_coupon_path(@coupon, :state => 'closed') do %>
                  <span class="glyphicon glyphicon-pencil" aria-hidden="true" title='Изменить дату закрытия'></span>
                <% end %>

                <%= link_to eco_coupon_revert_state_path(@coupon), :data => { :confirm => 'Вы уверены?' } do %>
                  <span class="glyphicon glyphicon-remove" aria-hidden="true" title='Вернуть талон в предыдущее состояние'></span>
                <% end %>
              <% end %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>

    <% if @coupon.created? %>
      <%= link_to 'Нет медицинских показаний', edit_eco_coupon_path(@coupon, :state => 'not_need_help'), :class => 'btn btn-default' %>
      <%= link_to 'Выдать направление в МУ', edit_eco_coupon_path(@coupon, :state=> 'issued'), :class => 'btn btn-primary' %>
    <% end %>

    <% if @coupon.issued? %>
      <%= link_to 'Пациент отказался от помощи', edit_eco_coupon_path(@coupon, :state=> 'failure_patient'), :class => 'btn btn-default' %>
      <%= link_to 'Помощь оказана', edit_eco_coupon_path(@coupon, :state => 'help_provided'), :class => 'btn btn-primary' %>
    <% end %>

    <% if @coupon.help_provided? %>
      <%= link_to 'Закрыть талон', edit_eco_coupon_path(@coupon, :state => 'closed'), :class => 'btn btn-primary' %>
    <% end %>
  </div>

  <div class='col-xs-6'>
    <h4>История изменений</h4>
    <table class="table table-hover history-table">
      <thead>
        <th>Дата</th>
        <th>Действия</th>
      </thead>
      <tbody>
        <% @coupon.history.each do |key, value| %>
          <tr>
            <td class='nobr'>
              <%= I18n.l(key, :format => :long) %>
            </td>

            <td>
              <p><%= value["user_prefix"]%></p>
              <ul>
                <% value["action_list"].each do |action|  %>
                  <li><%= action.html_safe %></li>
                <% end %>
              </ul>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>

  </div>
</div>
