<div class='row'>
  <div class="col-xs-12">
    <h4>Просмотр талона №<%= @coupon.number %></h4>
  </div>
  <div class='col-xs-12'>
    <p>
      Код пациента: <%= link_to @coupon.patient_code, eco_coupons_path(:search => @coupon.patient_code) %>
      <%= link_to '(Изменить код пациента)', edit_eco_coupon_path(@coupon, :partial => 'edit_created') if @coupon.created? %>
    </p>
    <p>
      Дата выдачи талона: <%= I18n.l(@coupon.created_on) %>
      <%= link_to '(Изменить дату выдачи)', edit_eco_coupon_path(@coupon, :partial => 'edit_created') if @coupon.created?%>
    </p>
    <p>Статус: <%= I18n.t("coupon.#{@coupon.workflow_state}") %></p>
    <% if @coupon.issued? %>
      <p>
        Медициское учреждение: <%= @coupon.medical_institution_title || 'Нет направления' %>
      </p>
      <p>
        Дата выдачи направления в МУ: <%= I18n.l(@coupon.issued_on) || 'Не указано' %>
      </p>

      <p>
        <%= link_to 'Изменить информацию о направлении в МУ', edit_eco_coupon_path(@coupon, :partial=> 'edit_issued') %>
        <%= link_to 'Удалить информацию о направлении в МУ', eco_coupon_revert_state_path(@coupon, :created), :data => { :confirm => 'Вы уверены?' } %>
      </p>

      <p>
        <%= link_to 'Нет медицинских показаний', edit_eco_coupon_path(@coupon, :partial => 'edit_not_need_help') %>
        <%= link_to 'Есть медицинские показания', edit_eco_coupon_path(@coupon, :partial => 'edit_approved') %>
      </p>
    <% end %>

    <% if @coupon.not_need_help? %>
      <p>
        Дата принятия решения об отсутствии показаний: <%= I18n.l(@coupon.not_need_help_on) %>
      </p>
      <div class="btn-group" role="group">
        <%= link_to 'Изменить информацию об отсутствии показаний', edit_eco_coupon_path(@coupon, :partial=> 'edit_not_need_help'), :class => 'btn btn-default' %>
        <%= link_to 'Удалить информацию об отсутствии показаний', eco_coupon_revert_state_path(@coupon, :issued), :data => { :confirm => 'Вы уверены?' }, :class => 'btn btn-default' %>
        <%= link_to 'Закрыть талон', edit_eco_coupon_path(@coupon, :partial => 'edit_closed'), :class => 'btn btn-default' %>
      </div>
    <% end %>

    <% if @coupon.approved? %>
      <div class="btn-group" role="group">
        <%= link_to 'Пациент отказался от помощи', edit_eco_coupon_path(@coupon, :partial=> 'edit_failure_patient'), :class => 'btn btn-default' %>
        <%= link_to 'Помощь оказана', edit_eco_coupon_path(@coupon, :partial => 'edit_help_provided'), :class => 'btn btn-default' %>
        <%= link_to I18n.t("coupon.revert_to.#{@coupon.previous_state}"), eco_coupon_revert_state_path(@coupon, @coupon.previous_state), :data => { :confirm => 'Вы уверены?' }, :class => 'btn btn-default' %>
      </div>
    <% end %>

    <% if @coupon.failure_patient? %>
      <div class="btn-group" role="group">
        <%= link_to 'Удалить информацию об отказе пациента', eco_coupon_revert_state_path(@coupon, :approved), :data => { :confirm => 'Вы уверены?' }, :class => 'btn btn-default' %>
        <%= link_to 'Закрыть талон', edit_eco_coupon_path(@coupon, :partial => 'edit_closed'), :class => 'btn btn-default' %>
      </div>
    <% end %>

    <% if @coupon.closed? %>
      <div class="btn-group" role="group">
        <%= link_to I18n.t("coupon.revert_to.#{@coupon.previous_state}"), eco_coupon_revert_state_path(@coupon, @coupon.previous_state), :data => { :confirm => 'Вы уверены?' }, :class => 'btn btn-default' %>
      </div>
    <% end %>

    <p><%= link_to 'Выдать направление в МУ', edit_eco_coupon_path(@coupon, :partial=> 'edit_issued'), :class => 'btn btn-success' if @coupon.created? %></p>
    <p><%= link_to 'Назад', eco_coupons_path, :class => 'btn btn-default' %></p>
  </div>
</div>
