<div class='row'>
  <div class="col-xs-12">
    <h4>Просмотр талона №<%= @coupon.number %></h4>
  </div>
  <div class='col-xs-12'>
    <p>
      Код пациента: <%= link_to @coupon.patient_code, eco_coupons_path(:search => @coupon.patient_code) %>
      <%= link_to '(Изменить код пациента)', edit_eco_coupon_path(@coupon, :partial => 'edit_created') if @coupon.created? %>
    </p>
    <p>
      Дата выдачи: <%= I18n.l(@coupon.created_on) %>
      <%= link_to '(Изменить дату выдачи)', edit_eco_coupon_path(@coupon, :partial => 'edit_created') if @coupon.created?%>
    </p>
    <p>Статус: <%= I18n.t("coupon.#{@coupon.workflow_state}") %></p>
    <% if @coupon.issued? %>
      <p>
        Медициское учреждение: <%= @coupon.medical_institution_title || 'Нет направления' %>
      </p>
      <p>
        Дата выдачи направления: <%= I18n.l(@coupon.issued_on) || 'Не указано' %>
      </p>

      <p>
        <%= link_to 'Изменить информацию о направлении в МУ', edit_eco_coupon_path(@coupon, :partial=> 'edit_issued') %>
        <%= link_to 'Удалить информацию о направлении в МУ', eco_coupon_delete_mi_path(@coupon), :method => :put, :data => { :confirm => 'Вы уверены?' } %>
      </p>
    <% end %>
    <p><%= link_to 'Выдать направление в МУ', edit_eco_coupon_path(@coupon, :partial=> 'edit_issued'), :class => 'btn btn-success' if @coupon.created? %></p>
    <p><%= link_to 'Назад', eco_coupons_path, :class => 'btn btn-default' %></p>
  </div>
</div>
