<div class='content row'>
  <div class='col-xs-3'>
    <div class='subnavigation'>
      <%= render_partial_for_region(@subnavigation, 'sub') if @subnavigation.present? %>
      <% if @left_side_links.present? %>
        <div class='left_side_links'>
          <%= render_partial_for_region(@left_side_links) %>
        </div>
      <% end %>
    </div>
  </div>

  <div class='col-xs-9'>
    <%= render_partial_for_region(@breadcrumbs) if @breadcrumbs.present? %>
    <%= render_partial_for_region(@content_first, 'full') if @content_first.present? %>
    <%= simple_nested_form_for @evaluation_registry, :url => evaluation_registry_path, :html => { :multipart => true } do |f| %>
      <% if flash[:notice] %>
        <p class='notice text-success'><%= flash[:notice] %></p>
      <% end %>
      <% if @evaluation_registry.errors.any? %>
        <p class='notice text-danger'><%= @evaluation_registry.errors.full_messages.map(&:squish).join(', ') %></p>
      <% end %>
      <%= f.input :title, :as => :string, :autofocus => true %>
      <%= f.input :username, :as => :string, :hint => 'заполняется по желанию' %>
      <fieldset>
        <legend><%= I18n.t('activerecord.attributes.evaluation_registry.question_1') %></legend>
        <% (1..11).each do |number| %>
          <%= f.input "question_1_#{number}", :as => :radio_buttons, :collection => (1..5) %>
        <% end %>
      </fieldset>
      <fieldset>
        <legend><%= I18n.t('activerecord.attributes.evaluation_registry.question_2') %></legend>
        <% (1..9).each do |number| %>
          <% next if number == 7 %>
          <%= f.input "question_2_#{number}", :as => :radio_buttons, :collection => (1..5) %>
        <% end %>
      </fieldset>
      <fieldset>
        <legend><%= I18n.t('activerecord.attributes.evaluation_registry.question_3') %></legend>
        <% (1..6).each do |number| %>
          <%= f.input "question_3_#{number}", :as => :radio_buttons, :collection => (1..5) %>
        <% end %>
      </fieldset>
      <fieldset>
        <legend><%= I18n.t('activerecord.attributes.evaluation_registry.question_4') %></legend>
        <% (1..3).each do |number| %>
          <%= f.input "question_4_#{number}", :as => :radio_buttons, :collection => (1..5) %>
        <% end %>
      </fieldset>
      <fieldset>
        <legend><%= I18n.t('activerecord.attributes.evaluation_registry.question_5') %></legend>
        <% (1..2).each do |number| %>
          <%= f.input "question_5_#{number}", :as => :radio_buttons, :collection => (1..5) %>
        <% end %>
      </fieldset>
      <fieldset>
        <legend><%= I18n.t('activerecord.attributes.evaluation_registry.proposal') %></legend>
        <%= f.input :proposal, :label => false %>
      </fieldset>
      <fieldset class='attachments'>
        <legend><%= I18n.t('activerecord.attributes.evaluation_registry.attachments') %></legend>
        <%= f.fields_for :evaluation_registry_attachments do |attachment_form| %>
          <%= attachment_form.input :attachment %>
          <div class='remove_file'><%= attachment_form.link_to_remove 'Удалить файл' %></div>
        <% end %>
        <%= f.link_to_add 'Добавить файл', :evaluation_registry_attachments %>
      </fieldset>
      <%= recaptcha_tags :display => { :theme => 'clean' }, :ajax => true %>
      <% if flash[:alert] %>
        <p class='recaptcha-alert text-danger'><%= flash[:alert] %></p>
      <% end %>
      <div class='actions'>
        <%= f.button :submit, 'Отправить', class: 'submit' %>
      </div>
    <% end %>
    <div class='row'>
      <%= render :partial => 'social_likes' %>
    </div>
  </div>
</div>
