<li>
  <%= thank.fullname %>
  <%= mail_to thank.email %>
  <%= thank.message %>
  <%= thank.state_text %>
  <%= link_to I18n.t("change.#{thank.state}"), change_manage_thank_path(thank), :method => :put, :remote => true %>
  <%= link_to I18n.t('edit'), edit_manage_thank_path(thank) %>
  <%= link_to I18n.t('destroy'), manage_thank_path(thank), :method => :delete, :data => { :confirm => I18n.t('confirm') } %>
</li>
