<li>
  <p class='name'>Автор: <%= thank.fullname.as_html %><%= ", #{mail_to(thank.email)}".html_safe if thank.email.present? %>, <span class='date'>Добавлено: <%= l thank.published_at, :format => :long %></span></p>
  <p>IP: <%= thank.ip %></p>
  <p>User-Agent: <%= thank.user_agent %></p>
  <p class='notice <%= thank.draft? ? 'text-danger' : 'text-success' %>'>
    <strong><%= thank.state_text %></strong>
    <%= link_to I18n.t("change.#{thank.state}"), change_manage_thank_path(thank), :method => :put, :remote => true %>
  </p>
  <p>
    <%= link_to I18n.t('edit'), edit_manage_thank_path(thank) %>
    <%= link_to I18n.t('destroy'), manage_thank_path(thank), :method => :delete, :data => { :confirm => I18n.t('confirm') } %>
  </p>
  <%= simple_format(thank.message).as_html %>
  <hr />
</li>
