<% if @content_first.present? && @content_first.content.present? %>
  <% content_for :page_title, "#{[@content_first.part_title, @content_first.content.title.mb_chars.downcase].join(', ')} — #{strip_tags(@site_name.content.body)}".squish %>
<% end %>

<div class='content row'>
  <div class='col-xs-3'>
    <div class='subnavigation'>
      <%= render_partial_for_region(@subnavigation, 'sub') if @subnavigation.present? %>
      <% if @left_side_links.present? %>
        <div class='left_side_links'>
          <%= render_partial_for_region(@left_side_links) %>
        </div>
      <% end %>
    </div>
  </div>

  <div class='col-xs-9'>
    <%= render_partial_for_region(@breadcrumbs) if @breadcrumbs.present? %>
    <%= render_partial_for_region(@content_first, 'department') if @content_first.present? %>
    <div class='row'>
      <%= render :partial => 'social_likes' %>
    </div>
  </div>
</div>
