<% content_for :page_title, strip_tags(@site_name.content.body).squish %>

<div class='main_page row'>
  <div class='col-xs-3 visible-lg-block visible-md-block'>
    <div class='left'>
      <%= content_tag :div, render_partial_for_region(@quick_links), :class => :quick_links if @quick_links.present? %>
      <div class='gallery_of_honor'>
        <h3><a href='#'>Галерея почета</a></h3>
        <div class='photo'>
          <%= link_to '#' do %>
            <%= image_tag 'stub_gallery_of_honor_lg.jpg', :width => '220', :height => '330', :alt => 'Тимошина Елена Леонтьевна', :class => 'visible-lg-inline' %>
            <%= image_tag 'stub_gallery_of_honor_md.jpg', :width => '170', :height => '255', :alt => 'Тимошина Елена Леонтьевна', :class => 'visible-md-inline' %>
          <% end %>
        </div>
        <div class='name'>Тимошина Елена Леонтьевна</div>
        <div class='post'>Заместитель начальника департамента по развитию здравоохранения</div>
      </div>
      <div class='thanks_patients'>
        <h3><a href='#'>Благодарности пациентов</a></h3>
        <div class="thanks">
          <div class='add'><a href='#'>Добавить</a></div>
          <div class='note'><span>Примечание:</span> стилистика и пунктуация писем полностью сохранена, послания печатаются без сокращений</div>
          <div class='text'>
            <p><strong>Начальнику департамента Холопову Александру Владимировичу.</strong></p>
            <p>Здравствуйте Александр Владимирович!</p>
            <p>Разрешите накануне&nbsp;"Дня Медика"&nbsp;поздравить Вас лично и в Вашем лице - весь мед. персонал Томской области с&nbsp;профессиональным праздником!!!</p>
            <p>Разрешите так же сердечно пожелать всем&nbsp;работникам отрасли&nbsp;быть здоровыми, бодрыми, иметь семейное...</p>
          </div>
          <div class='more'><a href='#'>Читать полностью</a></div>
        </div>
      </div>
    </div>
  </div>

  <div class='col-xs-9 visible-lg-block visible-md-block visible-xs-block'>
    <div class='right'>
      <%= render_partial_for_region(@actual, 'actual') if @actual.present? %>

      <div class="news visible-lg-block visible-md-block">

        <ul class="tabs" role="tablist">
          <li class="active">
            <%= link_to 'Новости', '#main-page-news', :data => { :toggle => :tab } %>
          </li>
          <li>
            <%= link_to 'Анонсы', '#main-page-announcements', :data => { :toggle => :tab } %>
          </li>
        </ul>

        <div class="tab-content">
          <div class="tab-pane active" id="main-page-news">
            <%= render_partial_for_region(@news, 'news') if @news.present? %>
          </div>
          <div class="tab-pane" id="main-page-announcements">
          </div>
        </div>
      </div>

    </div>
  </div>
</div>
