<div class='content row'>
  <%= render :partial => 'subnavigation' %>

  <div class='col-sm-9 col-xs-12'>
    <%= render_partial_for_region(@breadcrumbs) if @breadcrumbs.present? %>
    <%= render_partial_for_region(@content_first) if @content_first.present? %>
    <%= render_partial_for_region(@content_second) if @content_second.present? %>
    <div class='row'>
      <%= render :partial => 'social_likes' %>
    </div>
  </div>
</div>
