<!DOCTYPE HTML>
<html lang='ru'>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h3>Создано новое видеообращение</h3>
    <hr />
    <p><strong>Тема:</strong> <%= @video_message.title %></p>
    <p><strong>Кому адресовано:</strong> <%= @video_message.target_text %></p>
    <p><strong>Ф.И.О.:</strong> <%= @video_message.name %></p>
    <p><strong>E-mail:</strong> <%= @video_message.email %></p>
    <p><strong>Телефон:</strong> <%= @video_message.phone.presence || 'Не указано' %></p>
    <p><%= link_to 'Перейти на страницу просмотра видеообращения', manage_video_message_url(@video_message) %></p>
    <hr />
    <p>Это письмо сформировано автоматически. Не нужно на него отвечать.</p>
  </body>
</html>
