  <h1>
    Список поданных заявок
  </h1>

  <table class='table table-bordered'>
    <thead>
      <tr>
        <th>Ф.И.О.</th>
        <th>Email</th>
        <th>Дата подтверждения</th>
        <th>Результат теста</th>
        <th>Управление</th>
      </tr>
    </thead>
    <tbody>
      <% @claims.each do |claim| %>
        <tr>
          <td><%= claim.fullname %></td>
          <td><%= claim.email %></td>
          <td>
            <%= I18n.l claim.confirmed_at, format: :long if claim.confirmed_at %>

            <% case claim.state %>
            <% when 'pending' %>
              <%= link_to 'переотправить письмо',
                          send_confirmation_email_manage_claim_path(claim.id),
                          method: :post %>
            <% when 'approved' %>
              <%= link_to 'переотправить письмо',
                          send_accept_email_manage_claim_path(claim.id),
                          method: :post %>
            <% end %>
          </td>
          <td>
            <% if claim.try(:test_result).try(:finished) %>
              <%= claim.test_result.right_answers %>
              из
              <%= claim.test_result.question_count %>
            <% else %>
              Тест еще не пройден
            <% end %>
          </td>
          <td>
            <% case claim.state %>
            <% when 'draft' %>
              <%= link_to 'Подтвердить',
                          polymorphic_path([:approve, :manage, claim]),
                          class: 'btn btn-success',
                          method: :post %>
              <%= link_to 'Отклонить',
                          polymorphic_path([:reject, :manage, claim]),
                          class: 'btn btn-warning',
                          method: :post,
                          data: { confirm: 'Вы уверены, что хотите отклонить заявку?' } %>

            <% when 'pending' %>
              Ожидает подтверждения email
            <% when 'approved' %>
              <span class="label label-success">
                Заявка подтверждена
              </span>
            <% when 'rejected' %>
              <span class="label label-default">
                Заявка отклонена
              </span>
            <% end %>

            <%= link_to "Удалить",  manage_claim_path(claim),
                                    method: :delete,
                                    data: { confirm: 'Вы уверены?' },
                                    class: 'btn btn-danger pull-right' %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
