  <h1>
    Список поданных заявок
  </h1>

  <table class='table table-bordered'>
    <thead>
      <tr>
        <th>Ф.И.О.</th>
        <th style="width: 25%">Место работы</th>
        <th>Email</th>
        <th>Результат теста</th>
        <th style="width: 30%">Управление</th>
      </tr>
    </thead>
    <tbody>
      <% @claims.each do |claim| %>
        <tr>
          <td>
            <%= claim.fullname %>
            <p>
              <% if claim.confirmed_at %>
                (
                  <%= I18n.l claim.confirmed_at, format: :long %>
                )
              <% end %>
            </p>
          </td>

          <td><%= claim.regional_institution_job || 'Не указано' %></td>

          <td>
            <p><%= mail_to claim.email %></p>
            <p>
              <% case claim.state %>
              <% when 'pending' %>
                <%= link_to 'переотправить письмо',
                            send_confirmation_email_manage_claim_path(claim.id),
                            class: 'btn btn-primary',
                            method: :post %>
              <% when 'approved' %>
                <%= link_to 'переотправить письмо',
                            send_accept_email_manage_claim_path(claim.id),
                            class: 'btn btn-primary',
                            method: :post %>
              <% end %>
            </p>

            <% if claim.test_result.try(:finished) %>
              <p>
                <%= link_to 'переотправить результаты',
                            send_test_result_email_manage_claim_path(claim.id),
                            method: :post,
                            class: 'btn btn-default' %>
              </p>
            <% end %>
          </td>

          <td>
            <% if claim.try(:test_results).present? %>
              <% claim.test_results.order(:created_at).each_with_index do |test_result, index| %>
                <p>
                  <%= index + 1 %>)
                  <%= claim.test_result.right_answers %>
                  из
                  <%= claim.test_result.question_count %>

                  <% unless test_result.finished %>
                    (в процессе)
                  <% end %>
                </p>
              <% end %>

              <%= link_to 'новая попытка',
                          add_new_test_result_manage_claim_path(claim.id) ,
                          method: :post,
                          data: { confirm: 'Данное действие необратимо. Вы уверены, что хотите добавить новую попытку?' } unless claim.try(:unfinished_test?) %>
            <% else %>
              Еще не пройден
            <% end %>
          </td>
          <td>
            <% case claim.state %>
            <% when 'draft' %>
              <%= link_to 'Подтвердить',
                          polymorphic_path([:approve, :manage, claim]),
                          class: 'btn btn-success',
                          method: :post %>
              <%= link_to 'Отклонить',
                          polymorphic_path([:reject, :manage, claim]),
                          class: 'btn btn-warning',
                          method: :post,
                          data: { confirm: 'Вы уверены, что хотите отклонить заявку?' } %>

            <% when 'pending' %>
              Ожидает подтверждения email
            <% when 'approved' %>
              <span class="label label-success">
                Заявка подтверждена
              </span>
            <% when 'rejected' %>
              <span class="label label-default">
                Заявка отклонена
              </span>
            <% end %>

            <%= link_to "Удалить",  manage_claim_path(claim),
                                    method: :delete,
                                    data: { confirm: 'Вы уверены?' },
                                    class: 'btn btn-danger pull-right' %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
