<div class='content row'>
  <div class="row">
    <%= render partial: 'subnavigation' %>

    <div class="col-xs-6">
      <h1><%= @page.title %></h1>
      <h4 class="margin-top-20">
        Реестр лиц, включенных в резерв управленческих кадров
      </h4>
    </div>

    <div class='col-xs-8 margin-left-20'>
      <div class='content row'>
        <div class="row margin-top-20">
          <% if @human_reserv_claims.present? %>
            <table class='table table-bordered'>
              <thead>
                <tr>
                  <th>№</th>
                  <th>
                    <%= I18n.t('activerecord.attributes.human_reserv_claim.fullname') %>
                  </th>
                  <th>
                    <%= I18n.t('activerecord.attributes.human_reserv_claim.birthdate') %>
                  </th>
                  <th>
                    <%= I18n.t('activerecord.attributes.human_reserv_claim.old_post') %>
                  </th>
                  <th>
                    <%= I18n.t('activerecord.attributes.human_reserv_claim.old_organization') %>
                  </th>
                  <th>
                    <%= I18n.t('activerecord.attributes.human_reserv_claim.reserv_date') %>
                  </th>
                  <th>
                    <%= I18n.t('activerecord.attributes.human_reserv_claim.reserv_level') %>
                  </th>
                  <th>
                    <%= I18n.t('activerecord.attributes.human_reserv_claim.curator_fullname') %>
                  </th>
                </tr>
              </thead>
              <tbody>
                <% @human_reserv_claims.each_with_index do |human_reserv_claim, index| %>
                  <tr>
                    <td>
                      <%= index + 1 %>
                    </td>
                    <td>
                      <%= human_reserv_claim.fullname %>
                    </td>
                    <td>
                      <%= I18n.l human_reserv_claim.birthdate, format: :date_for_claim %>
                    </td>
                    <td>
                      <%= human_reserv_claim.old_post %>
                    </td>
                    <td>
                      <%= human_reserv_claim.old_organization %>
                    </td>
                    <td>
                      <%= I18n.l human_reserv_claim.reserv_date, format: :date_for_claim %>
                    </td>
                    <td>
                      <%= human_reserv_claim.reserv_level_text %>
                    </td>
                    <td>
                      <%= human_reserv_claim.curator_fullname %>
                    </td>
                  </tr>
                <% end %>
              </tbody>
            </table>
          <% else %>
            Нет участников
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
