<div class='container'>
  <div class='row'>
    <div class='col-xs-12'>
      <div class='impersonate-info panel panel-danger'>
        <div class='panel-heading'>
          <p>
            <%= link_to 'Вернуться', impersonate_engine.revert_impersonate_user_path, method: :delete, class: 'btn btn-success pull-right' %>
            Реальная учётка:
            <%= current_staff_user.name %>,
            <%= mail_to current_staff_user.email %>,
            UID: <%= current_staff_user.id %>
          </p>
          <p>
            Авторизован как:
            <%= current_user.name %>,
            <%= mail_to current_user.email %>,
            UID: <%= current_user.id %>
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
