<%
  value = [
    'comment=',
    video.instance.title,
    '&',
    'st=',
    asset_path('style.txt'),
    '&',
    'file=',
    video.url,
    '&',
    'poster=',
    poster.present? ? poster.url : asset_path('default_screeshot.png')
  ].join
%>

<p>
  <strong><%= I18n.t "video_message.kind.#{video.name}" %>:</strong>
  <%= link_to video.original_filename, video.url, target: '_blank' %>
</p>
<object id='videoplayer-<%= video.name.to_s.gsub('_', '-') %>-<%= video.instance.id %>' width='640' height='360'>
  <param name='bgcolor' value='#ffffff' />
  <param name='allowFullScreen' value='true' />
  <param name='allowScriptAccess' value='always' />
  <param name='movie' value='<%= asset_path('player.swf') %>' />
  <param name='flashvars' value='<%= value %>' />
  <embed src='<%= asset_path('player.swf') %>'
    name='videoplayer9092'
    type='application/x-shockwave-flash'
    allowscriptaccess='always'
    allowfullscreen='true'
    flashvars='<%= value %>'
    bgcolor='#ffffff'
    width='640'
    height='360'></embed>
</object>
