<div class='row'>
  <div class='col-sm-12'>
    <div class='content'>
      <h4>Видео обращение</h4>
      <p>
        <%= link_to 'Редактировать', edit_manage_video_message_path(resource), class: 'btn btn-primary' %>
        <%= link_to 'Вернуться к списку', manage_video_messages_path, class: 'btn btn-default pull-right' %>
      </p>
      <%= show_for resource do |item| %>
        <%= item.attribute :aasm_state, wrapper_html: { class: "text-#{item.object.aasm_state}" } do %>
          <%= item.object.aasm.human_state %>
          <%= link_to 'Опубликовать', manage_video_message_publish_path(item.object), class: 'btn btn-success btn-sm' if item.object.draft? %>
          <%= link_to 'Снять с публикации', manage_video_message_unpublish_path(item.object), class: 'btn btn-success btn-sm' if item.object.published? %>
          <%= link_to 'Вернуть в черновики', manage_video_message_unpublish_path(item.object), class: 'btn btn-default btn-sm' if item.object.deleted? %>
        <% end %>
        <% if item.object.deleted? %>
          <%= item.attribute :delete_reason, wrapper_html: { class: "text-#{item.object.aasm_state}" } %>
        <% end %>
        <%= item.attribute :title %>
        <%= item.attribute :target do %>
          <%= item.object.target_text %>
        <% end %>
        <%= item.attribute :name %>
        <%= item.attribute :email do %>
          <%= mail_to item.object.email %>
        <% end %>
        <%= item.attribute :phone %>
        <% if flash[:alert].present? %>
          <p class='text-danger'><%= flash[:alert] %></p>
        <% end %>
        <%= item.attribute :created_at %>
        <%= item.attribute :updated_at %>
        <% %i[question_source question_converted].each do |video| %>
          <%= item.attribute video, label: false do %>
            <%= render partial: 'video', locals: { video: item.object.send(video), poster: item.object.question_screenshot } %>
          <% end if item.object.send(video).present? %>
        <% end %>
        <% %i[answer_source answer_converted].each do |video| %>
          <%= item.attribute video, label: false do %>
            <%= render partial: 'video', locals: { video: item.object.send(video), poster: item.object.answer_screenshot } %>
          <% end if item.object.send(video).present? %>
        <% end %>
      <% end %>
    </div>
  </div>
</div>
