<h1 class='page-header <%= header_css_class %>'><%= part_title.presence || object.title %></h1>

<% chief = object.items.shift %>

<div class='department row'>
  <div class='col-xs-9'>
    <div class='department-contacts'>
      <%= render_partial_for_region(@regulation, 'regulation') if @regulation.present? %>
      <% if object.address.present? %>
        <div class='contact'>
          <div class='label'>Адрес</div>
          <div class='value'><%= object.address %></div>
        </div>
      <% end %>
      <% if object.phones.present? %>
        <div class='contact'>
          <div class='label'>Телефон</div>
          <div class='value'><%= object.phones %></div>
        </div>
      <% end %>
      <% if object.emails.present? %>
        <div class='contact'>
          <div class='label'>Email</div>
          <div class='value'><%= object.emails.map{ |email| mail_to email }.join(', ').html_safe %></div>
        </div>
      <% end %>
      <% if object.mode.present? %>
        <div class='contact'>
          <div class='label'>Режим работы</div>
          <div class='value'><%= object.mode %></div>
        </div>
      <% end %>
    </div>
    <div class='department-structure'>
      <h3><%= @page_title %></h3>
      <% object.items.each do |employee| %>
        <div class='employee'>
          <%= employee.person %>
        </div>
      <% end %>
    </div>

    <% if object.dossier.present? %>
      <div class='department-dossier'>
        <h3>Цели и задачи департамента</h3>
        <%= object.dossier.html_safe %>
      </div>
    <% end %>
  </div>

  <div class='col-xs-3'>
    <div class='department-chief'>
      <div class='position'>
        <%= chief.title %>
      </div>
      <div class='photo'>
        <%= link_to image_tag(resized_image_url(chief.image_url, 188, 324), :size => '188x324', :alt => chief.person), chief.link %>
      </div>
      <div class='person'>
        <%= link_to chief.person, chief.link %>
      </div>
      <% if chief.phones.present? || (chief.address.present? && chief.address != object.address) || chief.emails.present? %>
        <div class='contacts'>
          <% if chief.phones.present? %>
            <div class='phones'><%= chief.phones %></div>
          <% end %>
          <% if chief.address.present? && chief.address != object.address %>
            <div class='address'><%= chief.address %></div>
          <% end %>
          <% if chief.emails.present? %>
            <div class='email'>Email: <%= chief.emails.map{ |email| mail_to email }.join(', ').html_safe %></div>
          <% end %>
        </div>
      <% end %>
    </div>
  </div>
</div>
