<h1 class='page-header <%= header_css_class %>'><%= part_title.presence || object.title %></h1>

<% chief = object.items.shift %>

<div class='department row'>
  <div class='col-xs-9'>
    <div class='department-contacts'>
      <%= render_partial_for_region(@regulation, 'regulation') if @regulation.present? %>
      <% if object.address.present? %>
        <div class='contact'>
          <div class='label'>Адрес</div>
          <div class='value'><%= object.address %></div>
        </div>
      <% end %>
      <% if object.phones.present? %>
        <div class='contact'>
          <div class='label'>Телефон</div>
          <div class='value'><%= object.phones %></div>
        </div>
      <% end %>
      <% if object.emails.present? %>
        <div class='contact'>
          <div class='label'>Email</div>
          <div class='value'><%= object.emails.map{ |email| mail_to email }.join(', ').html_safe %></div>
        </div>
      <% end %>
      <% if object.mode.present? %>
        <div class='contact'>
          <div class='label'>Режим работы</div>
          <div class='value'><%= object.mode %></div>
        </div>
      <% end %>
      <div class='contact'>
        <div class='label'>&nbsp;</div>
        <div class='value'><a href='http://blue-pages.esp.tomsk.gov.ru/zdrav_department.pdf' class='icon pdf' target='_blank'>Телефонный справочник</a></div>
      </div>
    </div>

    <div class='department-structure'>
      <div class='subdivisions-with-tree'>
        <h3><%= @page_title %></h3>
        <% object.subdivisions.each do |subdivision| %>
          <% if subdivision.title.scan(/заместитель|бухгалтерия/i).any? %>
            <div class='subdivision'>
              <div class='image'>
                <% if subdivision.items.try(:first).try(:image_url).present? %>
                  <%= link_to subdivision.items.first.image_url, :class => :colorbox, :rel => :colorbox do %>
                    <%= image_tag(resized_image_url(subdivision.items.first.image_url, 100, 150), :size => '100x150', :alt => subdivision.items.first.person.squish) %>
                  <% end %>
                <% else %>
                  <%= image_tag('person-stub-md.jpg', :size => '100x150', :alt => subdivision.items.try(:first).try(:person).to_s.squish) %>
                <% end %>
              </div>
              <div class='person'>
                <%= render :partial => 'employee', :locals => { :employee => subdivision.items.first } if subdivision.items.present? %>
                <% if subdivision.subdivisions.any? %>
                  <ul class='children'>
                    <% subdivision.subdivisions.each do |item| %>
                      <li><%= link_to(item.title, "#{request.fullpath}/#{item.title.slugged}") %></li>
                    <% end %>
                  </ul>
                <% end %>
              </div>
            </div>
          <% end %>
        <% end %>
      </div>
      <div class='subdivisions-without-tree'>
        <h3>Подразделения</h3>
        <% object.subdivisions.each do |item| %>
          <% unless item.title.scan(/заместитель|бухгалтерия/i).any? %>
            <div class='title'><%= link_to(item.title, "#{request.fullpath}/#{item.title.slugged}") %></div>
          <% end %>
        <% end %>
      </div>
    </div>

    <% if object.dossier.present? %>
      <div class='department-dossier'>
        <a href='#collapse' class='js-slider slider'>Цели и задачи департамента</a>
        <div id='collapse' class='collapse'>
          <%= object.dossier.html_safe %>
        </div>
      </div>
    <% end %>
  </div>

  <div class='col-xs-3'>
    <div class='subdivision-chief'>
      <div class='position'>
        <%= chief.title %>
      </div>
      <div class='photo'>
        <% if chief.image_url.present? %>
          <%= link_to image_tag(resized_image_url(chief.image_url, 188, 324), :size => '188x324', :alt => chief.person), chief.link %>
        <% else %>
          <%= link_to image_tag('person-stub-lg.jpg', :size => '188x324', :alt => chief.person), chief.link %>
        <% end %>
      </div>
      <div class='person'>
        <%= link_to chief.person, chief.link %>
      </div>
      <% if chief.phones.present? || (chief.address.present? && chief.address != object.address) || chief.emails.present? %>
        <div class='contacts'>
          <% if chief.phones.present? %>
            <div class='phones'><%= chief.phones %></div>
          <% end %>
          <% if chief.address.present? && chief.address != object.address %>
            <div class='address'><%= chief.address %></div>
          <% end %>
          <% if chief.emails.present? %>
            <div class='email'>Email: <%= chief.emails.map{ |email| mail_to email }.join(', ').html_safe %></div>
          <% end %>
          <% if chief.reception.present? %>
            <div class='reception'><%= chief.reception %></div>
          <% end %>
          <% if chief.appointments.present? %>
            <div class='appointments'><%= chief.appointments %></div>
          <% end %>
        </div>
      <% end %>
    </div>
  </div>
</div>
