<% employee = employees.first if employees.present? %>
<% if employee.person.present? %>
  <div class='name'><%= employee.person.squish %></div>
  <div class='post'>
    <% if employees.present? && employees.many? %>
      <%= link_to(employee.title, "#{request.fullpath}/#{employee.title.slugged}") %>
    <% else %>
      <%= employee.title %>
    <% end %>
  </div>
<% else %>
  <div class='name'><%= employee.title %></div>
<% end %>
<% if employee.address.present? %>
  <div class='address'><%= employee.address %></div>
<% end %>
<% if employee.phones.present? %>
  <div class='phones'><%= employee.phones %></div>
<% end %>
<% if employee.emails.present? %>
  <div class='email'>Email: <%= employee.emails.map{ |email| mail_to email }.join(', ').html_safe %></div>
<% end %>
