<div class='social-links-header'>
  <p class='telegram'>
    <%= link_to 'https://t.me/Oblast_zdorovya', title:'Читайте наш канал в Telegram', class: 'js-tooltip',
                                                target: '_blank' do %>
    <% end %>
  </p>
  <p class='youtube'>
    <%= link_to 'https://www.youtube.com/channel/UC9klQLiwrtSzKw4iwGU1Mag', title:'Смотрите видео на канале YouTube', class: 'js-tooltip',
                                                                            target: '_blank' do %>
    <% end %>
  </p>
  <p class='facebook'>
    <%= link_to 'https://www.facebook.com/OblastZdorovya', title:'Мы в Facebook', class: 'js-tooltip', target: '_blank' do %>
    <% end %>
  </p>
  <p class='vkontakte'>
    <%= link_to 'https://vk.com/oblast_zdorovya', title:'Мы Вконтакте', class: 'js-tooltip', target: '_blank' do %>
    <% end %>
  </p>
  <p class='ok'>
    <%= link_to 'https://ok.ru/oblastzdorovya', title:'Мы в Одноклассники', class: 'js-tooltip', target: '_blank' do %>
    <% end %>
  </p>
  <p class='instagram'>
    <%= link_to 'https://www.instagram.com/oblast_zdorovya_tomsk', title:'Мы в Instagram', class: 'js-tooltip', target: '_blank' do %>
    <% end %>
  </p>
  <p class='newspaper'>
    <%= link_to 'http://gazeta.tabletka.tomsk.ru', title:'Газета «Область здоровья»', class: 'js-tooltip', target: '_blank' do %>
    <% end %>
  </p>
</div>
