<% if flash[:alert].present? %>
  <p class='text-danger'><%= flash[:alert] %></p>
<% end %>
<h4>
  Чтобы начать тестирование используйте данные из письма:
</h4>

<%= simple_form_for :claim, url: edit_test_path, method: :get do |f| %>
  <%= f.input :email, label: I18n.t('activerecord.attributes.claim.email') %>
  <%= f.input :authorize_token,
              label: I18n.t('activerecord.attributes.claim.authorize_token'),
              as: :password %>

  <%= f.submit 'Начать тестирование', class: 'btn btn-success' %>
<% end %>

Инструкция по прохождению тестирования                                                                            
Уважаемый кандидат!
Посредством тестирования осуществляется оценка базового уровня владения
кандидатами:
Знаниями основ Конституции Российской Федерации, Устава Томской области;
Знаниями региона

Государственным языком Российской Федерации (русским языком) и основами
делопроизводства, знаниями и умениями в сфере информационно-коммуникационных
технологий;
Основами законодательства об охране здоровья граждан;
Основами финансирования системы здравоохранения;
Знаниями о структуре системы здравоохранения региона;
Основами управления персоналом;
Основами проектного управления;
Основами бережливых технологий;
Основами противодействия коррупции.
Каждый раздел включает 10 вопросов. В целом тест содержит 100 вопросов.
Один вопрос – один правильный ответ.
Подведение результатов тестирования основывается на количестве правильных ответов. 1
балл – за правильный ответ на вопрос. Положительный результат - 60 баллов и выше.
О результатах тестирования Вы будете информированы посредством электронного письма.
Допуск к прохождению следующих этапов процедуры оценки возможен только при
положительным результате тестирования.
