<div class='content row'>
  <div class="row">
    <%= render partial: 'subnavigation' %>

    <div class="col-xs-6">
      <% if flash[:alert].present? %>
        <p class='text-danger'><%= flash[:alert] %></p>
      <% end %>
      <h4>
        Чтобы начать тестирование используйте данные из письма:
      </h4>

      <%= simple_form_for :claim, url: edit_test_path, method: :get do |f| %>
        <%= f.input :email, label: I18n.t('activerecord.attributes.claim.email') %>
        <%= f.input :authorize_token,
                    label: I18n.t('activerecord.attributes.claim.authorize_token'),
                    as: :password %>

        <%= f.submit 'Начать тестирование', class: 'btn btn-success' %>
      <% end %>

      <h4>
        Инструкция по прохождению тестирования                                                                            
      </h4>

      <p>
        Уважаемый кандидат!
      </p>

      <ul>
        Посредством тестирования осуществляется оценка базового уровня владения
        кандидатами:

        <li>
          Знаниями основ Конституции Российской Федерации, Устава Томской области;
        </li>
        <li>
          Знаниями региона
        </li>
        <li>
          Государственным языком Российской Федерации (русским языком) и основами
          делопроизводства, знаниями и умениями в сфере информационно-коммуникационных
          технологий;
        </li>
        <li>
          Основами законодательства об охране здоровья граждан;
        </li>
        <li>
          Основами финансирования системы здравоохранения;
        </li>
        <li>
          Знаниями о структуре системы здравоохранения региона;
        </li>
        <li>
          Основами управления персоналом;
        </li>
        <li>
          Основами проектного управления;
        </li>
        <li>
          Основами бережливых технологий;
        </li>
        <li>
          Основами противодействия коррупции.
        </li>
      </ul>

      <p>
        Каждый раздел включает 10 вопросов. В целом тест содержит 100 вопросов.
      </p>
      <p>
        Один вопрос – один правильный ответ.
      </p>
      <p>
        Подведение результатов тестирования основывается на количестве правильных ответов. 1
        балл – за правильный ответ на вопрос. Положительный результат - 60 баллов и выше.
      </p>
      <p>
        О результатах тестирования Вы будете информированы посредством электронного письма.
      </p>
      <p>
        Допуск к прохождению следующих этапов процедуры оценки возможен только при
        положительным результате тестирования.
      </p>
    </div>
  </div>
