<div class='content row'>
  <div class="row">
    <%= render partial: 'subnavigation' %>

    <div class="col-xs-8">
      <% if flash[:alert].present? %>
        <p class='text-danger'><%= flash[:alert] %></p>
      <% end %>

      <%= simple_form_for :test, url: finish_test_path do |f| %>
        <% @questions.each_with_index do |question, index| %>
          <%= f.label question['subtitle'] if question['subtitle'] %>
          <%= f.input "questions[#{index}]",
                      collection: question['answers'].map.with_index{ |q, i| [q, i] },
                      as: :radio_buttons,
                      label: "#{index + 1}) #{question['text']}",
                      item_wrapper_tag: :div,
                      required: false,
                      checked: @claim.test_result.answers["#{index}"] %>
        <% end %>

        <%= f.input :claim_id, input_html: { value: @claim.id }, as: :hidden %>
        <%= f.input :test_result_id, input_html: { value: @claim.test_result.id }, as: :hidden %>

        <%= f.submit 'Сохранить результат',
                      formaction: update_test_path,
                      class: 'btn btn-primary',
                      method: :post %>
        <%= f.submit 'Закончить тестирование', class: 'btn btn-success' unless @claim.test_result.finished %>
      <% end %>
    </div>
  </div>
</div>
